{% extends 'base.html' %}

{% block title %}
Market Page
{% endblock %}

{% block content %}
<div class="row" style="margin-top:15px; margin-left:15px">
    <div class="col-8">
        <h2>Available items on the Market</h2>
        <p>Click on one of the items to start buying</p>
        <br>
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <!-- Your Columns HERE -->
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Image</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                <!-- Your rows inside the table HERE: -->
                {% for item in items %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td><img src="{{ item.image }}" alt="{{ item.name }}"></td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.price }}$</td>
                    <td>
                        {% if item.quantity > 0 %}
                        <button class="btn btn-outline btn-info" data-toggle="modal"
                            data-target="#Modal-MoreInfo-{{ item.id }}">More Info</button>
                        <button class="btn btn-outline btn-success" onclick="addToCart({{ item.id }})">Add to
                            Cart</button>
                        {% else %}
                        <button class="btn btn-outline btn-info" data-toggle="modal"
                            data-target="#Modal-MoreInfo-{{ item.id }}">More Info</button>
                        <button class="btn btn-outline btn-success" disabled>Sold Out</button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-4">
        <h2>Cart</h2>
        {% if cart %}
        <p>Click on "Update" to change quantity or "Remove" to remove an item from the cart.</p>
        <br>
        <table class="table table-hover table-light">
            <thead>
                <tr>
                    <!-- Cart Columns HERE -->
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Total</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody id="cart-items">
                <!-- {% for item in cart %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>
                        <input type="number" class="form-control" id="quantity_{{ item.id }}"
                            value="{{ item.quantity }}" min="1" onchange="updateCartItem({{ item.id }})">
                    </td>
                    <td>{{ item.price }}$</td>
                    <td>{{ item.price * item.quantity }}$</td>
                    <td>
                        <button class="btn btn-outline btn-danger"
                            onclick="removeFromCart({{ item.id }})">Remove</button>
                    </td>
                </tr>
                {% endfor %} -->
                {% for item in cart %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>
                        <input type="number" class="form-control" id="quantity_{{ item.id }}"
                            value="{{ item.quantity }}" min="1" onchange="updateCartItem({{ item.id }})">
                    </td>
                    <td>{{ item.price }}$</td>
                    <td>{{ item.quantity * item.price }}$</td>
                    <td>
                        <button class="btn btn-outline btn-danger"
                            onclick="removeFromCart({{ item.id }})">Remove</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button class="btn btn-primary" onclick="window.location.reload();">Update</button>
        <p>Total: <span id="cart-total"></span>$</p>
        {% else %}
        <p>Your cart is empty. Please add items to the cart.</p>
        {% endif %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // var cart = [];
    function addToCart(itemId) {
        var quantity = prompt("Enter the quantity:");
        var j = jQuery.noConflict();
        // Send the item_id and quantity as JSON data in the AJAX request
        $.ajax({
            url: "/add_to_cart",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({ item_id: itemId, quantity: parseInt(quantity) }),
            success: function (response) {
                if (response.success) {
                    alert(response.message);
                    // Refresh the page to update the cart
                    location.reload();
                } else {
                    alert(response.message);
                }
            },
            error: function () {
                alert("Error occurred while adding the item to the cart.");
            }
        });
    }

    function removeFromCart(itemId) {
        // Send the item_id as JSON data in the AJAX request
        var j = jQuery.noConflict();
        $.ajax({
            url: "/remove_from_cart",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({ item_id: itemId }),
            success: function (response) {
                if (response.success) {
                    alert(response.message);
                    // Refresh the page to update the cart
                    location.reload();
                } else {
                    alert(response.message);
                }
            },
            error: function () {
                alert("Error occurred while removing the item from the cart.");
            }
        });
    }

    function updateCartItem(itemId) {
        var quantityInput = document.getElementById('quantity_' + itemId);
        var quantity = quantityInput.value; 2
        var j = jQuery.noConflict();
        var parsedQuantity = parseInt(quantity, 10);


        // Send the item_id and quantity as JSON data in the AJAX request
        $.ajax({
            url: "/update_cart_item",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({ item_id: itemId, quantity: parsedQuantity }),
            success: function (response) {
                if (response.success) {
                    alert(response.message);
                    // Refresh the page to update the cart
                    location.reload();
                } else {
                    alert(response.message);
                }
            },
            error: function () {
                alert("Error occurred while updating the cart item.");
            }
        });
    }


    var totalValue = {{ total }};
    var cartTotalElement = document.getElementById('cart-total');
    cartTotalElement.textContent = totalValue.toFixed(2);


</script>

{% endblock %}